<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://damasanjfunc20200327042631.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/2a594c35-aee1-4edf-9ad6-09e878b9a19f/resourcegroups/myGroup/providers/Microsoft.Web/sites/DamasanjFunc20200327042631</ResourceId>
    <UserName>$DamasanjFunc20200327042631</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://damasanjfunc20200327042631.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>